.contactclass {
  text-align: center;
}
.centered {
  display: flex;
  justify-content: center;
}
.textareaclass {
  width: 300px;
  height: 75px;
  border-radius: 5px;
}
.inputclass {
  float: left;
  width: 80%;
  border-radius: 5px;
}
a {
  color: cornflowerblue;
}
button {
  border-radius: 5px;
  padding: 5px;
  margin: 20px;
}
.contactTable {
  background: darkred;
  padding: 35px;
  border-radius: 10px;
}
