<div class="instructions">
  <h2>
    I listen to a lot of book!
    <br />
    Below is a list of all books I have recorded on <a href="https://www.goodreads.com/user/show/30980905-david-farley"
      target="_blank">Goodreads</a>, that I have listened to in the past 5 years.
    <br />
    See the stuff I have been reading!
  </h2>

  <h2 class="Books-title">Try searching for your favorite book or author!</h2>
  <h4>
    Click column headers to sort the table by column. <br />
    Click column header options for filter options. <br />
    Click and drag dividers to re-size columns.<br />
    Table courtesy of ag-grid for angular.
  </h4>
</div>
<ag-grid-angular style=" height: 550px; margin: 10px;" class="ag-theme-balham" [rowData]="rowData" [columnDefs]="columnDefs">
</ag-grid-angular>